body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('bg.jpg');

    /* Full height & width */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
p {
    font-size: 36px;
    text-align: center;
}

#what {
    background-color: red;
    padding-top: 50px;
}
#causes {
    padding-top: 20px;
    background-color: red;
}
#impacts {
    background-color: red;
}
#responses {
    background-color: red;
}
#misc {
    background-color: red;
    padding-bottom: 50px;
    margin-bottom: 20 px;
}

h2 {
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 45px;
}
h3, h4 {
    text-align: center;
    font-family: 'Maitree', serif;
    font-size: 36px;
}