/* Global CSS, keeps the page correctly sized */
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

a {
  color: lightblue;
}
/* CSS for the background images and parallax scroll effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("bg.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("bg-2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("bg-2.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* CSS for the table */

.tg {
  border-collapse:collapse;
  border-spacing:0;
  text-align: center;
  border-color: white;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  border-color: white;
  overflow:hidden;
  word-break:normal;
}
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;#
  border-style:solid;#
  border-width:1px;
  border-color: white;
  overflow:hidden;
  word-break:normal;
}
.tg .tg-yw4l{
  vertical-align:top
  background-color:black;
  color:white;
  border-color:white;
}